/*styles for the to-do list component*/

.todo-list{
    background-color: #f8f1ed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1.5em;
}

.add-todo{
    margin: 1.5em;
    border-bottom: solid 1px #B89685;
    padding: 0 0 1.5em 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-todo-input{
    margin-right: 1em;
    height: 23px;
    width: 60%;
    border-radius: 10px;
    padding: 7px;
}

.add-todo-button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    line-height: .5;
    font-size: large;
}

.list-items {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: .5fr 5fr 1.5fr 1.5fr;
    gap: 1em; */
    margin: 1rem 0;
    
}

.list-items-and-title {
    margin: 0 0 1.5em 0;
    width: 100%;
}

.todo-title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #B6244F;
    margin: 0 0 1em 0;
    font-family: 'Roboto Slab', sans-serif;
}

.todo-item{
    flex: 5;
    margin: 0 1em;
    word-break: break-all;
}

.todo-checkbox{
    flex: 1;
}

.edit-todo, .delete-todo {
    height: 35px;
    border-radius: 10px;
    font-size: 1em;
    line-height: 10px;
    flex: 2;
    margin: 0 .5em;
    max-width: 50px;
    min-width: 50px;
}





