/*styles for the to-do list component*/

h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
    color: #856453;
    font-family: 'Quicksand', sans-serif;
}

button{
    height: 35px;
    border-radius: 10px;
    font-size: 1em;
    line-height: 10px;
    margin: 0 .25em;
    max-width: 50px;
    min-width: 50px;
}

input[type="text"]{
    margin-right: 1em;
    height: 23px;
    width: 60%;
    border-radius: 10px;
    padding: 7px;
    font-size: 1em;
}

.todo-list{
    background-color: #f8f1ed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.add-todo{
    margin: 1.5em;
    border-bottom: solid 1px #B89685;
    padding: 0 0 1.5em 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-todo-button {
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    border-radius: 100%;
    line-height: .5;
    font-size: large;
}

.list-items {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    align-items: center;
}

.list-items-and-title {
    margin: 0 0 1.5em 0;
    width: 90%;
}

.todo-title{
    margin: 0 0 1em 0;
}

.todo-item {
    flex: 5;
    margin: 0 1em;
    word-break: break-all;
}

.todo-checkbox{
    flex: 1;
}

.red-button {
    background-color: #FBB7C0;
    color: #B6244F;
  }
  
.red-button:hover {
    background-color: #fd8c9b;
}

.red-button:active {
    color: #FBB7C0;
    background-color: #B6244F;
}

.blue-button {
    background-color: #85bcc8;
    color: #33636e;
  }
  
.blue-button:hover {
    background-color: #64bed3;
}

.blue-button:active {
    color: #96BDC6;
    background-color: #33636e;
}

.yellow-button {
    background-color: #fdcf51;
    color: #956f07;
  }
  
.yellow-button:hover {
    background-color: #FFBE0B;
}

.yellow-button:active {
    color: #fdcf51;
    background-color: #956f07;
}

.edit-todo, .delete-todo {
    flex: 2;
}

.empty-list{
    text-align: center;
}

.edit-form{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 70%;
    height: 5em;
}

.edit-input{
    flex: 3;
}

.edit-done, .edit-cancel{
    flex: 1;
}




