/*default styles*/

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Urbanist', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  border: none;
  font-family: 'Urbanist', sans-serif;
}

input[type="text"]{
  font-family: 'Urbanist', sans-serif;
  border: 1px solid #DE1A1A;
}

input[type="text"]:focus{
    outline-style: none;
    box-shadow: none;
    border: 1px dashed #fd8c9b;
    background-color: #fdffea;
}

.app-section{
  margin: 1.5em;
}


/*App.js styles*/

#page-title{
  text-align: center;
  color: #99C24D;
  font-family: "Antic Slab", sans-serif;
  font-size: 3em;
  padding: 0 0 .7em 0;
  border-bottom: dashed 2px #77973c;
}

@media(max-width: 375px){
  #page-title{
    font-size: 2.5em;
  }
}